*{
    background-color: aqua;
    display-size: 200:
    colour:white:
}
h1{
   font-size: 18px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font: size 14px;
    font-weight: 500;
    font-display: swap;
    font-size-adjust: unset;
}
h2{
    font-size: 22px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 800;
    font-display: block;
    font-size-adjust: inherit;
}